:root {
    --primary-color: #ff9f35;
    --text-color: #f2f2f2;
    --secondary-color: #0d0d0d;
    --letter-spacing: 1.5px;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --word-spacing: 1px;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px 0px 45px;
    word-spacing: var(--word-spacing);
    text-decoration: none;
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 100;
}

.name {
    font-family: "Roboto Slab", serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 26.4px;
    font-weight: bold;
    color: var(--text-color);
    letter-spacing: var(--letter-spacing);
    cursor: pointer;
    z-index: -1;
}

.braces {
    color: var(--primary-color);
    margin-left: 5.5px;
}

.navbar li a {
    text-decoration: none;
    list-style: none;
    font-size: 17.5px;
    color: var(--primary-color);
    font-family: "Space Mono", monospace;
    border-bottom: 1px dashed var(--primary-color);
    word-spacing: var(--word-spacing);
    font-weight: bold;
    letter-spacing: var(--letter-spacing);
}

.navbar li a:hover {
    color: var(--text-color);
    border-bottom: none;
}

.navbar {
    display: flex;
    position: sticky;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.orangehover {
    border-bottom: 1px dashed var(--primary-color);
    font-weight: bold;
    letter-spacing: var(--letter-spacing);
    transition: all 0.3s ease;
    color: var(--primary-color);
    font-size: 17.6px;

    &:hover {
        border: none;
        cursor: pointer;
        color: var(--text-color);
    }
}

.toggleswitch svg {
    color: var(--text-color);
    font-size: 30px;
    height: 40px;
    width: 50px;
    position: absolute;
    top: 20%;
    right: 6%;
    cursor: pointer;
    z-index: 1;
}

.toggleswitch svg path {
    fill: var(--text-color);
    /* Set fill to white or your desired color */
}

.sidecontent {
    display: none;
}

/* introduction  */

.introduction {
    display: block;
    font-size: 17px;
    width: 82%;
}

.introduction h3 {
    font-weight: 400;
    font-size: 26px;
    margin: 0px;
}

.handemj {
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.handemj:hover {
    transform: scale(1.2);
}

.typew .typewrite {
    text-decoration: none;
    color: var(--text-color);
}

.introduction .secparaintro {
    margin-top: 20px;
}

.introduction p {
    margin: 0px;
}

.clg {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--primary-color);
}

.clg:hover {
    border: none;
    color: var(--text-color);
    font-weight: bold;
}

.introduction .myenjoyment {
    margin-top: 20px;

    .myenj {
        font-size: 20px;
    }
}

/* end of introduction  */

/* skills  */
.skillstools {
    display: block;
    p {
        width: 82%;
    }
}

.skillstools h3 {
    color: var(--primary-color);
    display: flex;
    width: 300px;

    hr {
        width: 70px;
        height: 4px;
        margin-left: 10px;
        background-color: var(--primary-color);
        border: none;
    }
}

.skillimgs {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.html svg,
.css svg {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 75px;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
    width: 150px;
    transition: transform 0.4s ease;
}

.tech img,
.tech svg {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.tech:hover svg,
.tech:hover img {
    transform: scale(0.9);
}

.skilltxt {
    transform: none;
}

.html svg {
    background-color: orangered;
}

.css svg {
    background-color: blue;
}


.tech img {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 75px;
    /* background-color: #ff9f35; */
}

/* end of skills  */

/* ----light-mode----  */

body.light-theme {
    --text-color: #0d0d0d;
    --secondary-color: #f2f2f2;
    --hover-color: var(--secondary-color);
}

/* ----end of light-mode----  */



/* ----Responsive Design---- */
@media (max-width: 835px) {

    header {
        padding: 10px 25px 0px 25px;
        position: sticky;
        padding-bottom: 2px;
    }

    .navbar {
        display: none;
    }

    .sidebar li a {
        text-decoration: none;
        list-style: none;
        font-size: 17.5px;
        color: var(--primary-color);
        font-family: "Space Mono", monospace;
        border-bottom: 1px dashed var(--primary-color);
        word-spacing: var(--word-spacing);
        font-weight: bold;
        letter-spacing: var(--letter-spacing);
    }

    .sidebar li a:hover {
        border-bottom: none;
        color: var(--text-color);
    }


    /* hamburger menu  */
    .hamburger {
        position: absolute;
        right: 20px;
        top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        height: 50px;
        box-sizing: border-box;
        position: sticky;
    }

    .hambars {
        width: 40px;
        height: 3px;
        background: var(--primary-color);
        border-radius: 10px;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }

    .hambars::before,
    .hambars::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 40px;
        background: var(--primary-color);
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
    }

    .hambars::before {
        top: 10px;
    }

    .hambars::after {
        bottom: 10px;
    }

    .hamburger.larrow .hambars {
        width: 45px;
    }

    .hamburger.larrow .hambars::before {
        width: 25px;
        transform: rotate(-35deg) translate(-4px, 5px);
    }

    .hamburger.larrow .hambars::after {
        width: 25px;
        transform: rotate(35deg) translate(-4px, -5px);
    }

    /* styling side bar  */
    .sidecontent {
        display: none;
        position: fixed;
        height: 100%;
        width: 80%;
        border-right: 1px solid var(--text-color);
        z-index: 100;
        background-color: var(--secondary-color);
        left: 0%;
        top: 0%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        font-size: 23.5px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidecontent.show {
        display: flex;
        transform: translateX(0);
    }

    .sidebar {
        list-style: none;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .sidemenu {
        cursor: pointer;
    }

    /* end of styling side bar  */

    /* end of hamburger menu  */

    .section {
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 82%;
        /* border: 2px solid red; */
      }
}

/* for phones  */

@media (max-width: 430px) {

    header {
        padding: 10px 25px 0px 25px;
        border-bottom: 1px solid var(--text-color);
        padding-bottom: 5px;
    }

    .navbar {
        display: none;
    }

    /* hamburger menu  */
    .hamburger {
        position: absolute;
        right: 20px;
        top: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
    }

    .hambars {
        width: 30px;
        height: 3px;
        background: var(--primary-color);
        border-radius: 10px;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }

    .hambars::before,
    .hambars::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 30px;
        background: var(--primary-color);
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
    }

    .hambars::before {
        top: 10px;
    }

    .hambars::after {
        bottom: 10px;
    }

    .hamburger.larrow .hambars {
        width: 35px;
    }

    .hamburger.larrow .hambars::before {
        width: 25px;
        transform: rotate(-35deg) translate(-1px, 1px);
    }

    .hamburger.larrow .hambars::after {
        width: 25px;
        transform: rotate(35deg) translate(-1px, 1px);
    }

    /* styling side bar  */
    .sidecontent {
        display: none;
        position: fixed;
        height: 100%;
        width: 80%;
        border-right: 1px solid var(--text-color);
        z-index: 100;
        background-color: var(--secondary-color);
        left: 0%;
        top: 0%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        font-size: 19.5px;
        transform: translateX(-100%);
        /* Hide it off-screen */
        transition: transform 0.3s ease-in-out;
        /* Smooth transition */
    }

    .sidecontent.show {
        display: flex;
        transform: translateX(0);
    }

    .sidebar {
        list-style: none;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    /* end of styling side bar  */

    /* end of hamburger menu  */

    /* styling skills */
    .skillimgs {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* justify-content: center; */
        width: 95%;
        /* gap: 20px; */
    }

    .html svg,
    .css svg {
        display: flex;
        flex-direction: column;
        height: 50px;
        width: 55px;
    }

    .tech {
        display: flex;
        font-family:var(--font-family);
        font-size: 13px;
        width: 100px;
        transition: transform 0.4s ease;
    }

    .tech img,
    .tech svg {
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .tech:hover svg,
    .tech:hover img {
        transform: scale(0.9);
    }

    .skilltxt {
        transform: none;
        margin-top: 4px;
    }

    .jquery p{
        margin-top: 0px;
    }

    .html svg {
        background-color: orangered;
    }

    .css svg {
        background-color: blue;
    }


    .tech img {
        height: 50px;
        width: 55px;
    }

    .section {
        display: flex;
        flex-direction: column;
        height: 150vh;
        width: 90%;
        /* border: 2px solid blue; */
      }
    /* end styling skills */

    /* styling fullpage scrolling  */
    #fullpage {
        margin-top: 13%;
        margin-left: 10%;
        font-size: 17px;
        width: 82%;
      }

    .section {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 88%;
        margin-bottom: 20px;
        margin-top: 20px;
      }

    .skillstools{
        padding-top: 0px;
        margin-top: 0px;

    }

      /* end of styling scrolling page  */

      /* styling toggle  */

      .toggleswitch svg {
        color: var(--text-color);
        font-size: 30px;
        height: 40px;
        width: 50px;
        position: absolute;
        top: 15%;
        right: 6%;
        cursor: pointer;
        z-index: 1;

       /*end of styling toggle  */
    }

    .aboutmyself{
        font-weight: lighter;
    }
}

#fullpage {
    position: relative;
    overflow: hidden;
  }

  .section {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 82%;
    margin-bottom: 25px;
  }

  #fullpage {
    /* margin-top: 13%; */
    margin-left: 10%;
    font-size: 17px;
    width: 82%;
  }

  /* #fullpage .fp-nav ul li a span {
    background-color: #ff5722 !important;
  }
  
  #fullpage .fp-nav ul li a.active span {
    background-color: #4caf50 !important;
  } */

